﻿
@{
    ViewBag.Title = "ProceedToPayment";
}

<h2>@ViewBag.result</h2>

<button class="btn btn-primary" onclick="CloseWindow(); return false;">Close</button>

<script>
    function CloseWindow() {
        window.close();
    }
</script>