﻿@model PaymentGateway.ServiceInterfacesModels.Models.UserLogin
@{
    /**/

    ViewBag.Title = "Login";
}

<h2>Login</h2>  @Html.ActionLink("Register New user", "Register")

@using (Html.BeginForm("LoginUser", "Login", FormMethod.Post, new { @class = "my_form" }))
{
    <div>
        User name
    </div>
    <p>
        @Html.TextBoxFor(i => i.UserName, new { @class = "form-control" })
    </p>
    <div>
        Password
    </div>
    <p>
        @Html.PasswordFor(i => i.Password, new { @class = "form-control" })
    </p>
    <input type="submit" value="Login" />
}


