﻿@model PaymentGateway.ServiceInterfacesModels.Models.UserLogin

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm("RegisterUser","Login", FormMethod.Post, new { @class = "my_form" })) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>UserLogin</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", @type = "password" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" >Confirm Password</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="ConfirmPassword" name="ConfirmPassword" type="password" value="">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="btnSubmitUser" type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    $('body').on('click', '#btnSubmitUser', function () {

        
    });
</script>