﻿@model IEnumerable<PaymentGateway.ServiceInterfacesModels.Models.UserDetails>
@using PaymentGateway.ServiceInterfacesModels.Models;
<div class="jumbotron">
    <h1>Payment Gateway</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>

</div>
<div class="row">
    @if (Session["purchaseInfo"] == null)
    {
    <div class="col-md-4">
        @Html.ActionLink("View Transactions list", "Index", "TrasactionList", new { }, new { @class = "btn btn-link" })
    </div>
    

    }
    else
    {
        
        var purchase = (PurchaseModel)Session["purchaseInfo"];
        <div>
            <h3>Item Purchased</h3>
            <br />
            Price = @purchase.amount &nbsp; @purchase.currency
            <br />

        </div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CardNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ccv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpiryDate)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.CardNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ccv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpiryDate)
                    </td>
                    <td>
                        @Html.ActionLink("Proceed", "ProceedToPayment", "PaymentProcessing", new { id = item.Id }, new { @class = "btn btn-link" })
                    </td>
                </tr>
            }

        </table>
    }
</div>
