﻿@{
    ViewBag.Title = "Home Page";

}
@model Merchant.ShopWeb.Models.HomeViewModel
<div class="jumbotron" style="text-align:center;">
    <h1>Merchant Portal</h1>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <h1>Api</h1>
    <table id="myTable" class="table-bordered table table-striped" cellspacing="0">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Price
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProductModels)
            {
                <tr>
                    <td>
                        @item.ProductName
                    </td>
                    <td>
                        @item.ProductDescription
                    </td>
                    <td>
                        @item.ProductPrice EUR
                    </td>
                    <td style="text-align:left;">
                        <button value="Buy Now" type="button" class="btn btn-primary js-btnBuyNow" data-product-price="@item.ProductPrice" data-currency="EUR" data-merchantid="4D0D06FD-58DC-4791-89CD-D9207FFBDDBF">Buy Now</button>
                        <button value="Buy Now" type="button" class="btn btn-primary js-btnBuyNowApi" data-product-price="@item.ProductPrice" data-currency="EUR" data-merchantid="4D0D06FD-58DC-4791-89CD-D9207FFBDDBF">Buy Now Api</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $('body').on('click', '.js-btnBuyNow', function () {

        var baseurl = "http://localhost:60839/login/LoginPurchase";
        var Amount = $(this).data('product-price');
        var Currency = $(this).data('currency');
        var MerchantId = $(this).data('merchantid');
        var url = baseurl + "?amount=" + Amount + "&currency=" + Currency + "&merchantid=" + MerchantId
        success(url);
    });
    function success(Url) {
        window.open(Url, 'popup_window', 'width=500,height=700,left=100,top=100,resizable=yes');
    }

</script>


<style>
     /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>

    <!-- Trigger/Open The Modal -->
    <button id="myBtn">Open Modal</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <input type="text" id="username" />
            <input type="password" id="password" />
            <input type="hidden" id="Amount" />
            <input type="hidden" id="Currency" />
            <input type="hidden" id="MerchantId" />
            
            <button id="processPayment" class="btn btn-primary">Process Payment</button>
            <span id ="msg" style="color:green;"></span>

        </div>

    </div>

    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }
        $('body').on('click', '.js-btnBuyNowApi', function () {

            var baseurl = "http://localhost:60839/login/LoginPurchase";
            $('#Amount').val($(this).data('product-price'));
            $('#Currency').val($(this).data('currency'));
            $('#MerchantId').val($(this).data('merchantid'));
            modal.style.display = "block";
        });
       
        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }
        function logResults(json) {
            console.log('json');
            console.log(json);
        }
        $('body').on('click', '#processPayment', function () {

            var baseurl = "http://localhost:60839/ProcessPaymentApi/post";
            var amount = $('#Amount').val();
            var currency = $('#Currency').val();
            var merchantid = $('#MerchantId').val();
            var userName = $('#username').val();
            var password = $('#password').val();

            
            $.ajax({
                url: baseurl,
                dataType: 'json',
                //jsonpCallback: "logResults",
                data: {
                    "amount": amount,
                    "currency": currency,
                    "merchantid": merchantid,
                    "userName": userName,
                    "password": password,
                },
                method: "POST",
                complete: function () {
                    console.log('request complete');
                    $('#msg').html('Request completed');
                }
            });
        });

   
    </script>
